@charset "ISO-8859-1";



h1{
    color: blueviolet;
    
    
}



form {
    display: block;
    flex-direction: column;
    max-width: 350px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the form horizontally */
   
}



input {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

textarea{
    border-radius: 10px;
}

button{
    border-radius: 10px;
    height:30px;
}

button:hover{
    border: 5px;
    border-style:solid;
    background-color: green;
    border-color:  blueviolet;
    
}



