@charset "ISO-8859-1";



#div1{
        padding: 100px;
        background-color: aqua;
}







form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the form horizontally */
}

label {
    
    margin-bottom: 5px;
}

input {
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
}

textarea{
    border-radius: 10px;
}

button{
    border-radius: 10px;
    height:30px;
}

button:hover{
    border: 5px;
    border-style:solid;
    background-color: green;
    border-color:  blueviolet;
    
}


