<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Logistics</display-name>

<servlet>
<servlet-name>my_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.CustomerServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>my_servlet</servlet-name>
<url-pattern>/createAction</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>GetCustomerAction_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.GetCustomerServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GetCustomerAction_servlet</servlet-name>
<url-pattern>/GetCustomerAction</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>GetByID_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.GetByIdServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GetByID_servlet</servlet-name>
<url-pattern>/GetByIDAction</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>update_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.UpdateServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>update_servlet</servlet-name>
<url-pattern>/updateAction</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>delete_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.DeleteServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>delete_servlet</servlet-name>
<url-pattern>/DeleteAction</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>addEmployee_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.AddEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addEmployee_servlet</servlet-name>
<url-pattern>/addEmployeeAction</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>viewAction_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.ViewEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>viewAction_servlet</servlet-name>
<url-pattern>/viewAction</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateEmployee_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.UpdateEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateEmployee_servlet</servlet-name>
<url-pattern>/updateEmployeeAction</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>deleteEmployee_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.DeleteEmployeeServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteEmployee_servlet</servlet-name>
<url-pattern>/DeleteEmpAction</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>EmployeeLogin_servlet1</servlet-name>
<servlet-class>com.user.logistic.controller.EmployeeLoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>EmployeeLogin_servlet1</servlet-name>
<url-pattern>/EmployeeLoginAction</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Admin_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.AdminLoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Admin_servlet</servlet-name>
<url-pattern>/AdminLoginAction</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>WorkReport_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.WorkReportServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>WorkReport_servlet</servlet-name>
<url-pattern>/AddWorkAction</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>CustomerFeedback_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.CustomerFeedback_Servlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CustomerFeedback_servlet</servlet-name>
<url-pattern>/CustomerFeedbackAction</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>viewFeedback_servlet</servlet-name>
<servlet-class>com.user.logistic.controller.ViewFeedback_Servlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>viewFeedback_servlet</servlet-name>
<url-pattern>/viewFeedbackAction</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>viewWorkReport_servlet1</servlet-name>
<servlet-class>com.user.logistic.controller.ViewWorkReport_Servlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>viewWorkReport_servlet1</servlet-name>
<url-pattern>/viewWorkReportAction</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>Logout_servlet1</servlet-name>
<servlet-class>com.user.logistic.controller.LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Logout_servlet1</servlet-name>
<url-pattern>/LogoutAction</url-pattern>
</servlet-mapping>


</web-app>


